<% content_for :title, "New treatment plan exercise" %>

<h1>New treatment plan exercise</h1>

<%= render "form", treatment_plan_exercise: @treatment_plan_exercise %>

<br>

<div>
  <%= link_to "Back to treatment plan exercises", treatment_plan_exercises_path %>
</div>
