<% content_for :title, "New appointment" %>

<h1>New appointment</h1>

<%= render 'form', appointment: @appointment, patient: @patient %>

<br>

<div>
  <%= link_to "Back to appointments", patient_appointments_path(@patient) %>
</div>
