<div id="<%= dom_id exercise %>">
  <p>
    <strong>Title:</strong>
    <%= exercise.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= exercise.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= exercise.user_id %>
  </p>

</div>
